@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br>

    @if (TempData.ContainsKey("ImportFail"))
    {
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
            <div class="flex-grow-1 text-start">
                @Html.Raw(TempData["ImportFail"])
            </div>
            <button type="button" class="btn-close text-end" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <br>
    <h1 class="display-4" style="font-family: 'Athiti', sans-serif;">
        TJP Trading Stock Management
    </h1>
    <img class="w-25 m-4" src="~/img/TJP.png" />
    <div class="m-4">
        <a class="btn btn-lg btn-success" style="width: 350px;" onclick="ShowInPopup('@Url.Action("ImportExcelPage", "File")', 'Upload ข้อมูลทั้งหมดในโปรแกรม')">Upload Data (อัพโหลดข้อมูล)</a>
    </div>
    <div class="m-4">
        <a class="btn btn-lg btn-secondary" style="width: 350px;" onclick="ShowInPopup('@Url.Action("GenerateExcelConfirm", "File")', 'Backup ข้อมูลทั้งหมดในโปรแกรม')">BackUp Data (สำรองข้อมูล)</a>
    </div>
    <br>
</div>

<style>
    #Link:hover{
        text-decoration : underline !important;
    }
</style>